@font-face{
	font-family: 'Hammersmith';
	src: url('../fonts/hms/hor.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair';
	src: url('../fonts/playfair/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair';
	src: url('../fonts/playfair/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair_black';
	src: url('../fonts/playfair/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_thin';
	src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_light';
	src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto_Black';
	src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/brmain.png) no-repeat center top / cover;
	padding-bottom: 70px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.logo {
	margin-top: 15px;
	float: left;
}

.logoname {
	font-family: 'Roboto_Thin';
	font-size: 30pt;
	margin-top: 15px;
	margin-left: 12px;
	color: #01dfd0;
	float: left;
}

nav {
	float: right;
}

.menu {
	padding: 0;
	margin: 0;
	margin-top: 35px;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-left: 25px;
	font-size: 13pt;
	font-family: 'Roboto_black';
	font-weight: bold;
	text-transform: uppercase;
}

.menu a {
	text-decoration: none;
	color: #fff;
}

.menu a:hover {
	color: #00e0d0;
}

.titlehead {
	padding-top: 160px;
	text-align: center;
}

.titlehead h1 {
	color: #fff;
	font-family: 'Playfair_black';
	font-size: 32pt;
	margin-bottom: 30px;
	padding: 0;
}

.titlehead p {
	color: #fff;
	font-family: 'Roboto_light';
	font-size: 14pt;
	padding-top: 0;
	margin-top: 30px;
}

.line {
	border-bottom: 1px solid #00e0d0;
	width: 50px;
}

.learnmore {
	margin-top: 55px;
	font-family: 'Hammersmith';
	font-size: 15pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 200px;
}

.learnmore a {
	color: #00e0d0;
	text-decoration: none;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	padding: 10px 25px 10px 25px;
}

.ourstory {
	padding-top: 70px;
}

.titlelogo {
	float: left;
	width: 290px;
	padding-top: 20px;
}

.titleabout {
	float: left;
	padding-left: 100px;
	color: #413d4b;
	width: 630px;
}

.titleabout h2 {
	font-size: 22pt;
	font-family: 'playfair';
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.titleabout p {
	font-size: 14pt;
	font-family: 'Roboto_light';
	color: #716e78;

}

.learnmoreabout {
	margin-top: 35px;
	font-family: 'Hammersmith';
	font-size: 15pt;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}

.learnmoreabout a {
	color: #00e0d0;
	text-decoration: none;
	border: 1px solid #00e0d0;
	border-radius: 3px;
	padding: 10px 25px 10px 25px;
}

.videoabout {
	background: url(../img/videoprev.png) no-repeat center top / cover;
	height: 650px;
}

.expertise {
	padding-top: 70px;
}

.titleexpertise {
	text-align: center;
	color: #413d4b;
}

.titleexpertise h2 {
	font-family: 'playfair';
	font-weight: bold;
	font-size: 22pt;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.titleexpertise p {
	font-family: 'playfair';
	font-size: 14pt;
	color: #636268;
	margin: 0;
	padding: 0;
}

.lineexp {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 50px;
	padding-top: 18px;
}

.expobject {
	text-align: center;
	width: 310px;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	padding-top: 30px;
	padding: 20px;
	float: left;
}

.expobject h3 {
	font-size: 14pt;
	font-family: 'roboto';
	text-transform: uppercase;
	color: #413d4b;
}

.expobject p {
	font-family: 'Roboto_light';
	font-size: 14pt;
}

.expobjectlast {
	text-align: center;
	width: 310px;
	border-bottom: 1px solid #ebebeb;
	padding-top: 30px;
	padding: 20px;
	float: left;
}

.expobjectlast h3 {
	font-size: 14pt;
	font-family: 'roboto';
	text-transform: uppercase;
	color: #413d4b;
}

.expobjectlast p {
	font-family: 'Roboto_light';
	font-size: 14pt;
}

.expobjects {
	padding-bottom: 570px;
}

.expobjectlast2 {
	text-align: center;
	width: 310px;
	padding-top: 30px;
	padding: 20px;
	float: left;
}

.expobjectlast2 h3 {
	font-size: 14pt;
	font-family: 'roboto';
	text-transform: uppercase;
	color: #413d4b;
}

.expobjectlast2 p {
	font-family: 'Roboto_light';
	font-size: 14pt;
}

.expobject2 {
	text-align: center;
	width: 310px;
	border-right: 1px solid #ebebeb;
	padding-top: 30px;
	padding: 20px;
	float: left;
}

.expobject2 h3 {
	font-size: 14pt;
	font-family: 'roboto';
	text-transform: uppercase;
	color: #413d4b;
}

.expobject2 p {
	font-family: 'Roboto_light';
	font-size: 14pt;
}