@font-face {
	font-family: QC;
	src: url('../fonts/QC.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@import url(http://allfont.ru/allfont.css?fonts=montserrat-bold);
@import url(http://allfont.ru/allfont.css?fonts=pt-serif);

body {
	margin: 0;
	padding: 0;
}

header {
	background: url('../img/Layer13.jpg') no-repeat center top / cover;
	padding-bottom: -0px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat Bold', sans-serif;
	color: #130e27;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
}

p {
	font-family: 'Montserrat';
	color: #fff;
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
}

.container {
	margin-left: 84px;
	margin-right: 84px;
}

@media screen and (max-width: 1200px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}

	.main-header {
		flex-direction: column;
	}

	.navbar {
		padding-top: 20px;
	}

	.carsell {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.formsell {
		margin-top: 120px;
	}

	title {
	}

	h1 {
		
		text-align: center;
		margin: 0;
	}
	span {
		padding-left: 20px;
	}

	p {
		font-size: 0.2em;
		text-align: center;
	}
	

}

.logo {
	font-family: QC;
	font-size: 88px;
	color: #fff;
}

.navbar {

}

nav {
}

nav a {
	font-family: Montserrat;
	font-size: 18pt;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 12px 15px 12px 15px;


}

nav a:hover {
	background: #130e27;
}

.carsell {
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
}

.title {
	width: 520px;
}

.title h1 {
	font-size: 90px;
}

.title span{
	color: #fff;
}

.title p {
	font-size: 20px;
	margin-top: 45px;
}

.formsell {
	display: flex;
	flex-direction: column;
	width: 400px;
	background: #fff;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 30px;

}

.formsell input {
	font-family: 'Montserrat';
	font-size: 15px;
	padding: 0 0 0px 20px;
	color: #130e27;
}

::placeholder {
	color: #a9a9a9;
}

.formsell h2 {
	font-family: 'Montserrat';
	font-size: 22px;
	margin-top: 33px;
	margin-bottom: 38px;

}

.formsell__input {
	border: 0;
	background: #eeeeee;
	border-radius: 3px;
	width: 353px;
	height: 57px;
	margin-bottom: 19px;
	outline: none;
}

.formsell__terms {
	
}


.checkcustom {
	display: flex;
	align-items: center;
	margin-left: -90px;
	margin-bottom: 25px;
}

.checkbox {
	margin-right: 20px;
}

.label {
	font-family: 'montserrat';
	font-size: 15px;
	color: #130e27;
}

.formsell button {
	background: #c62314;
	border: none;
	font-family: 'Montserrat';
	font-size: 22px;
	color: #fff;
	border-radius: 5px;
	padding: 21px 160px;
	margin-bottom: 28px;
	text-transform: uppercase;
	outline: none;
}

.formsell button:active {
	background: #b72113;
}